/node_modules
/public/hot
/public/storage
/public/documents
/public/img
/storage/*.key
/vendor
/extra
/.idea
/extra
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
